# [title]

how to install python packages???

Imports:

In [26]:
import pandas
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.ensemble import RandomForestRegressor

In [27]:
salaryData = pandas.read_excel(pandas.ExcelFile("salaries_clean.xlsx"), 'salaries_clean')
salaryData.info(verbose=True, max_cols=None)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1655 entries, 0 to 1654
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      1655 non-null   int64
 1   salary_id                  1655 non-null   int64
 2   employer_name              1651 non-null   object
 3   Ticker                     564 non-null    object
 4   location_name              1653 non-null   object
 5   location_city              1386 non-null   object
 6   location_state             1176 non-null   object
 7   location_country           1582 non-null   object
 8   location_latitude          792 non-null    float64
 9   location_longitude         792 non-null    float64
 10  job_title                  1655 non-null   object
 11  job_title_category         1655 non-null   object
 12  job_title_rank             425 non-null    object
 13  total_experience_years     1608 non-null   float64
 14  employer_experience_years  1608 non-null   float64
 15  annual_base_pay            1651 non-null   float64
 16  signing_bonus              1332 non-null   float64
 17  annual_bonus               1336 non-null   float64
 18  stock_value_bonus          1253 non-null   object
 19  comments                   292 non-null    object
 20  submitted_at               1655 non-null   object
 21  delete?                    51 non-null     object
 22  new_comments               269 non-null    float64
dtypes: float64(8), int64(2), object(13)
memory usage: 297.5+ KB

## Pre-Processing

In [28]:
salaryData = salaryData[salaryData['delete?'].isna()]
salaryData = salaryData.drop(['delete?', 'submitted_at', 'index', 'location_longitude', 'location_latitude', 'index', 'salary_id', 'employer_name', 'job_title', 'job_title_category', 'job_title_rank', 'comments'], axis=1)
salaryData.dropna()
salaryData.info(verbose=True, max_cols=None)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1604 entries, 0 to 1654
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Ticker                     560 non-null    object
 1   location_name              1602 non-null   object
 2   location_city              1368 non-null   object
 3   location_state             1161 non-null   object
 4   location_country           1561 non-null   object
 5   total_experience_years     1561 non-null   float64
 6   employer_experience_years  1563 non-null   float64
 7   annual_base_pay            1604 non-null   float64
 8   signing_bonus              1290 non-null   float64
 9   annual_bonus               1293 non-null   float64
 10  stock_value_bonus          1213 non-null   object
 11  new_comments               264 non-null    float64
dtypes: float64(6), object(6)
memory usage: 162.9+ KB

In [29]:
x = salaryData.drop([''])
y =

SyntaxError: invalid syntax (385006730.py, line 2)

## Train-test split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y, 
                                                    test_size=0.2, 
                                                    random_state=0)

## Perform Random Forest Regression

In [ ]:
regressor1 = RandomForestRegressor(n_estimators= 100, max_depth= 4)

cv1 = cross_val_score(regressor1,
                    x_train,
                    y_train,
                    cv=10,
                    scoring='roc_auc') #errors with this line??

In [ ]:
cv1.mean()

In [ ]:
importances1 = regressor1.feature_importances_
for i in range(0,len(x_train.columns)):
    print(f"{x_train.columns[i]}:\t{importances1[i]}")

### Make Predictions

In [ ]:
y_test_predicted = regressor1.predict(x_test)

## ROC Curve

In [ ]:
# My code is broken for this lol